 .u-section-1 {
  background-image: linear-gradient(#db545a, #f7914d);
  min-height: 828px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 63px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 765px;
  --animation-custom_in-translate_x: -100px;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 19px 29px;
}

.u-section-1 .u-text-1 {
  margin: 2px 1px 0;
}

.u-section-1 .u-text-2 {
  font-size: 1rem;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 8px 6px 0;
}

.u-section-1 .u-line-1 {
  width: 482px;
  transform-origin: left center 0px;
  margin: 20px auto 0;
}

.u-section-1 .u-text-3 {
  line-height: 2.2;
  font-weight: 700;
  margin: 34px 12px 0;
}

.u-section-1 .u-image-1 {
  min-height: 765px;
  background-image: url("images/TeegPfp.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 42px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1399px) {
  .u-section-1 .u-text-2 {
    font-size: 5rem;
  }
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 714px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 631px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 4.25rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-line-1 {
    width: 431px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    min-height: 631px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 1025px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 70px;
    padding-right: 200px;
    padding-bottom: 50px;
  }

  .u-section-1 .u-line-1 {
    width: 321px;
  }

  .u-section-1 .u-image-1 {
    min-height: 879px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 838px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 50px;
    padding-right: 50px;
    padding-left: 10px;
  }

  .u-section-1 .u-image-1 {
    min-height: 659px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 630px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 55px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3.4375rem;
  }

  .u-section-1 .u-line-1 {
    width: 320px;
  }

  .u-section-1 .u-image-1 {
    min-height: 415px;
  }
} .u-section-2 {
  background-image: linear-gradient(#f7914d, #d9d9d9);
  min-height: 213px;
}

.u-section-2 .u-text-1 {
  margin: 60px 280px 60px calc(((100% - 1140px) / 2) + 216px);
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-left: calc(((100% - 940px) / 2) + 216px);
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 163px;
  }

  .u-section-2 .u-text-1 {
    margin-left: calc(((100% - 720px) / 2) + 216px);
    margin-right: 214px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-left: calc(((100% - 540px) / 2) + 162px);
    margin-right: 161px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-left: calc(((100% - 340px) / 2) + 102px);
    margin-right: 101px;
  }
}

.u-block-85e2-81:not([data-block-selected]):not([data-cell-selected]),
.u-block-85e2-81:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-85e2-81:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover .u-block-85e2-81:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-block-85e2-81:not([data-block-selected]):not([data-cell-selected]) {
  border-color: transparent !important;
}

.u-container-layout.hover .u-block-85e2-81:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-block-85e2-81:not([data-block-selected]):not([data-cell-selected]) {
  border-color: transparent !important;
}

.u-block-85e2-87:not([data-block-selected]):not([data-cell-selected]),
.u-block-85e2-87:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-85e2-87:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover .u-block-85e2-87:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-block-85e2-87:not([data-block-selected]):not([data-cell-selected]) {
  border-color: transparent !important;
}

.u-container-layout.hover .u-block-85e2-87:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-block-85e2-87:not([data-block-selected]):not([data-cell-selected]) {
  border-color: transparent !important;
}

.u-block-85e2-93:not([data-block-selected]):not([data-cell-selected]),
.u-block-85e2-93:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-85e2-93:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover .u-block-85e2-93:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-block-85e2-93:not([data-block-selected]):not([data-cell-selected]) {
  border-color: transparent !important;
}

.u-container-layout.hover .u-block-85e2-93:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-block-85e2-93:not([data-block-selected]):not([data-cell-selected]) {
  border-color: transparent !important;
} .u-section-3 {
  background-image: linear-gradient(#d9d9d9, #e68387);
}

.u-section-3 .u-sheet-1 {
  min-height: 748px;
}

.u-section-3 .u-text-1 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 40px 171px 0 247px;
}

.u-section-3 .u-video-1 {
  height: 550px;
  width: 1254px;
  margin: 13px 0 60px auto;
}

.u-section-3 .embed-responsive-1 {
  position: absolute;
}

@media (max-width: 1399px) {
  .u-section-3 .u-video-1 {
    width: 1114px;
    margin-top: 40px;
    margin-right: auto;
    margin-bottom: 52px;
  }
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 965px;
  }

  .u-section-3 .u-text-1 {
    width: 723px;
    margin-left: 147px;
    margin-right: 71px;
  }

  .u-section-3 .u-video-1 {
    height: 412px;
    width: 940px;
    margin-top: 12px;
    margin-left: 88px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 890px;
  }

  .u-section-3 .u-text-1 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-video-1 {
    height: 316px;
    width: 720px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 877px;
  }

  .u-section-3 .u-text-1 {
    width: 540px;
  }

  .u-section-3 .u-video-1 {
    height: 237px;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 676px;
  }

  .u-section-3 .u-text-1 {
    width: 340px;
  }

  .u-section-3 .u-video-1 {
    height: 149px;
    width: 340px;
  }
} .u-section-4 {
  background-image: linear-gradient(#e68387, #901461);
}

.u-section-4 .u-sheet-1 {
  min-height: 2735px;
}

.u-section-4 .u-text-1 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 516px;
  margin: 91px auto 0;
}

.u-section-4 .u-list-1 {
  margin-top: 27px;
  margin-bottom: 0;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: 100%;
  min-height: 1448px;
  grid-gap: 0px 0px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-line-1 {
  height: 3px;
  transform-origin: left center 0px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 70px 0 auto;
}

.u-section-4 .u-group-1 {
  min-height: 982px;
  height: auto;
  --animation-custom_in-translate_x: 100px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin-top: -1px;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  font-family: Poppins;
  margin: 27px 698px 0 0;
}

.u-section-4 .u-text-3 {
  font-size: 1rem;
  margin: 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 0;
}

.u-section-4 .u-line-2 {
  height: 3px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 70px 0 auto;
}

.u-section-4 .u-group-2 {
  min-height: 291px;
  height: auto;
  --animation-custom_in-translate_x: 100px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin-top: -1px;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-4 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-4 .u-text-4 {
  font-weight: 700;
  font-family: Poppins;
  margin: 27px 698px 0 0;
}

.u-section-4 .u-text-5 {
  font-size: 1rem;
  margin: 0;
}

.u-section-4 .u-container-layout-5 {
  padding: 0;
}

.u-section-4 .u-line-3 {
  height: 3px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 70px 0 auto;
}

.u-section-4 .u-group-3 {
  min-height: 445px;
  height: auto;
  --animation-custom_in-translate_x: 100px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin-top: -1px;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-6 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-4 .u-text-6 {
  font-weight: 700;
  font-family: Poppins;
  margin: 27px 698px 0 0;
}

.u-section-4 .u-text-7 {
  font-size: 1rem;
  margin: 0;
}

.u-section-4 .u-container-layout-7 {
  padding: 0;
}

.u-section-4 .u-line-4 {
  height: 3px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 70px 0 auto;
}

.u-section-4 .u-group-4 {
  min-height: 358px;
  height: auto;
  --animation-custom_in-translate_x: 100px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin-top: -1px;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-8 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-4 .u-text-8 {
  font-weight: 700;
  font-family: Poppins;
  margin: 27px 698px 0 0;
}

.u-section-4 .u-text-9 {
  font-size: 1rem;
  margin: 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  letter-spacing: 1px;
  text-shadow: 0 0 0 rgba(0,0,0,0);
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  border-style: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 80px auto 0 51px;
  padding: 15px 97px 15px 95px;
}

.u-section-4 .u-btn-2 {
  background-image: none;
  letter-spacing: 1px;
  text-shadow: 0 0 0 rgba(0,0,0,0);
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  border-style: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -67px 103px 57px auto;
  padding: 15px 97px 15px 95px;
}

@media (max-width: 1399px) {
  .u-section-4 .u-line-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-group-1 {
    height: auto;
  }

  .u-section-4 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-line-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-group-2 {
    height: auto;
  }

  .u-section-4 .u-text-5 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-line-3 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-group-3 {
    height: auto;
  }

  .u-section-4 .u-text-7 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-line-4 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-group-4 {
    height: auto;
  }

  .u-section-4 .u-text-9 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-btn-1 {
    font-size: 1.125rem;
  }

  .u-section-4 .u-btn-2 {
    font-size: 1.125rem;
  }
}

@media (max-width: 1199px) {
  .u-section-4 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 6px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 498px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-top: 0;
    padding-bottom: 6px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 498px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-top: 0;
    padding-bottom: 6px;
  }

  .u-section-4 .u-text-6 {
    margin-right: 498px;
  }

  .u-section-4 .u-container-layout-8 {
    padding-top: 0;
    padding-bottom: 6px;
  }

  .u-section-4 .u-text-8 {
    margin-right: 498px;
  }

  .u-section-4 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-4 .u-btn-2 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-group-1 {
    animation-duration: 1000ms;
  }

  .u-section-4 .u-container-layout-2 {
    padding-right: 20px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 278px;
  }

  .u-section-4 .u-group-2 {
    animation-duration: 1000ms;
  }

  .u-section-4 .u-container-layout-4 {
    padding-right: 20px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 278px;
  }

  .u-section-4 .u-group-3 {
    animation-duration: 1000ms;
  }

  .u-section-4 .u-container-layout-6 {
    padding-right: 20px;
  }

  .u-section-4 .u-text-6 {
    margin-right: 278px;
  }

  .u-section-4 .u-group-4 {
    animation-duration: 1000ms;
  }

  .u-section-4 .u-container-layout-8 {
    padding-right: 20px;
  }

  .u-section-4 .u-text-8 {
    margin-right: 278px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-container-layout-2 {
    padding-right: 0;
  }

  .u-section-4 .u-text-2 {
    margin-right: 98px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-right: 0;
  }

  .u-section-4 .u-text-4 {
    margin-right: 98px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-right: 0;
  }

  .u-section-4 .u-text-6 {
    margin-right: 98px;
  }

  .u-section-4 .u-container-layout-8 {
    padding-right: 0;
  }

  .u-section-4 .u-text-8 {
    margin-right: 98px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    width: 340px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
  }

  .u-section-4 .u-text-4 {
    margin-right: 0;
  }

  .u-section-4 .u-text-6 {
    margin-right: 0;
  }

  .u-section-4 .u-text-8 {
    margin-right: 0;
  }
}